<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        * {
            font-family: Verdana;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

        td:first-child {
            width: 100px;
        }
    </style>
</head>
<body>
{{range $index, $element := .Pages}}
<a href="/mails?page={{$element}}">{{$element}}</a>
{{end}}
<br><br>
<table>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
        <th>Remote</th>
    </tr>
{{range .Mails}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Date}}</td>
        <td>{{.From}}</td>
        <td>{{.To}}</td>
        <td><a href="/mails/{{.ID}}">{{.Subject}}</a></td>
        <td>{{.Remote}}</td>
    </tr>
{{end}}
</table>
<br>
{{range $index, $element := .Pages}}
<a href="/mails?page={{$element}}">{{$element}}</a>
{{end}}
</body>
</html>